.objs
.update
*.un~
*.dia~
*.swp
tags
bin/*
*.cache
*.swf
*.o
*.pyc
.deps/
tests/file.in
src/test_keys.sh
src/s3ffs
src/valgrind*
src/core
tests/s3client_pool_test
tests/s3http_client_test
Makefile
include/Makefile
src/Makefile
tests/Makefile
src/run.sh
config.log
config.status
include/config.h
include/stamp-h1
